body {
  background-image: url("big blue.jpg");
  background-color: #cccccc;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}